<h2 class="py-2 text-center">{{title}}</h2>
<svg width="960" height="500" class="mx-auto d-block"></svg>
<!-- <div class="status font-weight-bold">Click on a Area to show the total population</div> -->
<div class="control-group">
    <button class="btn" (click)="select('United States')">
        United States
    </button>
    <button class="btn" (click)="select('Russia')">
        Russia
    </button>
    <button class="btn" (click)="select('Australia')">
        Australia
    </button>
    <button class="btn" (click)="select('India')">
        India
    </button>
    <button class="btn" (click)="select('Japan')">
        Japan
    </button>
    <button class="btn" (click)="select('China')">
        China
    </button>
    <button class="btn" (click)="select()">
        Clear
    </button>
</div>
<h4 class="pt-5 text-center">Bar Chart Sorting according to catogory</h4>
